body
{
    color: rgb(240, 240, 240);
    background: rgb(9, 20, 177);
}
span
{
    font-size:30px ;
}
#camera , #result
{
    border:2px dashed rgb(23, 176, 107);
    width: 350px;
    height: 300px;
}
#result_emotion_name,#result_emotion_name2
{
    color: rgb(234, 79, 79);
}
.emotion_name
{
    font-size: 40px;
}
.heading
{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}
label
{
    font-size: 14px;
    color: rgb(245, 68, 68);
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(23, 176, 107);
}